#wrapper {
    width: 960;
    margin: 0 auto 0 auto;
  /*  border: 2px solid #000; */
  /* padding: 10px; */
    font: 20px impact,sans-serif, color:#BC008D;  
    background-image: url("https://drive.google.com/uc?id=0B06rKVRX06uyY2VrZGthX1lYZlE");
}


header.page h1:hover {color: #FFFB73;}

header.page{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #FFFB73;
    text-align: center;
}

article, aside {
    float: center;
}

article {
	font: 15px, arial, bold;
}
  
nav {
    text-align: center;
    font: 15px, impact;
}

nav li {
    display: inline;
    padding-right: 20px;
    
}

a:link {
    color: #FFF800;
text-decoration: none;}
a:hover {color: #aaa;}
a:visited {color: #FFCE00;}
a:active {color: #ABF000;}

article {
    width: display;
    text-align: center;
    font: 20px impact,sans-serif, color:#BC008D;
    background-color: solid, color: 5FD2B5;
    
}

aside li {
    list-style-type: square;
}

footer {
    clear:left;
    border: 1px solid #FFFF00;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

/*@media screen and (max-width: 960px)*/ {
	
	#wrapper {
		width: 94%;
	}
	article {
		width: 65%;
	}
	aside {
		width: 28%;
	}

}

/* for 700px or less */
/*@media screen and (max-width: 700px)*/ {

	article {
		width: auto;
		float: none;
	}
    
	aside {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
/*@media screen and (max-width: 480px)*/ {

	header.page {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	aside {
		display: none;
	}

}
